body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* 
  display: flex;
  flex-direction: column;
  align-items: center;
 */
  background-color: black;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .game-area {
  overflow: hidden;
}

.background__container {
} 
*/

.game-over__container {
  width: 100vw;

  border: 2px, solid, black;
}

.game-over__text {
  color: white;
}

.score__container {
  width: 100vw;

  border: 2px, solid, black;
}

.score__text {
  color: white;
}

.background__tile {
  position: absolute;
  width: 2000px;
  height: 500px;

  overflow: hidden;
  background-image: url("./images/tiled-space-bg-3.png");
}

.asteroid {
  position: absolute;
  background-color: grey;
  border-radius: 25%;
}

.shot {
  position: absolute;
  background-color: red;
  border-radius: 25%;

  transition: left, ease;
  transition-duration: 10s;
}
.leaderboard__container {
  background-color: black;
  color: #fff;
  display: flex;
  justify-content: center;
  font-size: 48px;
  margin: auto;
  border: 5px solid white;
}
